
@import "bower_components/bootstrap/scss/variables"

$body-bg:                    $gray-dark
$body-color:                 #fff
@import "bower_components/bootstrap/scss/mixins"

// // Reset and dependencies
@import "bower_components/bootstrap/scss/normalize"
@import "bower_components/bootstrap/scss/print"

// Core CSS
@import "bower_components/bootstrap/scss/reboot"
@import "bower_components/bootstrap/scss/type"
@import "bower_components/bootstrap/scss/images"
// @import "bower_components/bootstrap/scss/code"
@import "bower_components/bootstrap/scss/grid"
// @import "bower_components/bootstrap/scss/tables"
@import "bower_components/bootstrap/scss/forms"
@import "bower_components/bootstrap/scss/buttons"

// // Components
// @import "bower_components/bootstrap/scss/animation"
// @import "bower_components/bootstrap/scss/dropdown"
// @import "bower_components/bootstrap/scss/button-group"
@import "bower_components/bootstrap/scss/input-group"
// @import "bower_components/bootstrap/scss/custom-forms"
// @import "bower_components/bootstrap/scss/nav"
// @import "bower_components/bootstrap/scss/navbar"
@import "bower_components/bootstrap/scss/card"
// @import "bower_components/bootstrap/scss/breadcrumb"
// @import "bower_components/bootstrap/scss/pagination"
// @import "bower_components/bootstrap/scss/pager"
// @import "bower_components/bootstrap/scss/labels"
// @import "bower_components/bootstrap/scss/jumbotron"
// @import "bower_components/bootstrap/scss/alert"
// @import "bower_components/bootstrap/scss/progress"
// @import "bower_components/bootstrap/scss/media"
// @import "bower_components/bootstrap/scss/list-group"
// @import "bower_components/bootstrap/scss/responsive-embed"
// @import "bower_components/bootstrap/scss/close"

// Components w/ JavaScript
// @import "bower_components/bootstrap/scss/modal"
// @import "bower_components/bootstrap/scss/tooltip"
// @import "bower_components/bootstrap/scss/popover"
// @import "bower_components/bootstrap/scss/carousel"

// Utility classes
// @import "bower_components/bootstrap/scss/utilities"
// @import "bower_components/bootstrap/scss/utilities-spacing"
// @import "bower_components/bootstrap/scss/utilities-responsive"

@import "bower_components/font-awesome/scss/font-awesome"
@import 'ratings'

.card-margin-top
  margin-top: $spacer

.selection-new-photos
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

.background-overlay
  background: black
  opacity: 0.8
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.selection-edit
  background: $gray-dark
.photo-layout
  position: relative

.photo-layout-link
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
.photo-viewer-content
  position: absolute

.photo-viewer-previous,
.photo-viewer-next
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 50%

.photo-viewer-previous
  left: 0
  right: 50%


.photo-viewer-wrapper
  width: 100%
  height: 100%
  position: relative
